.navbar{
    display: flex;
    color: black;
    background-color: orange;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    padding-block: 16px;
    font-family: sans-serif;

}

.logo-container{
    display: flex;
    align-items: center;
    gap: 8px;

}

.logo{
    width: 50px;
}

.nav-items{
    display: flex;
    gap: 16px;
}

.nav-items a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.nav-items a:hover{
    background-color: #E48F45;

}